@(id:String)(implicit request: RequestHeader)

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta property="fb:app_id" content="343745845810440" />
        <meta property="og:type" content="article" />
        <meta property="og:site_name" content="GangHQ.com"/>
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />

        <meta property="og:image" content="http://app.ganghq.com/api/teamimage?id=@id" />
        <meta property="og:url" content="http://ganghq.com/#!/@id" />

        <title>GangHQ.com</title>

    </head>
    <body>
       GANG META SERVER

          <!--
    @for((k,v) <- request.queryString){
        <p><b>@k </b> <span>@v</span></p>
    }
    <hr/>
    <p><b>HOST</b> @request.host</p>
    <p><b>_escaped_fragment_</b> @id</p>
          -->
    </body>
</html>